* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.root{
    display: flex;
    
    align-items: center;
    height: 100vh;
    background-color: #F9F9F9;
    flex-direction: column;
    
}
#card1{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    border: 1px solid #EBEBEB;
    margin-top: 10px;
    
}
#card2{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 600px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #EBEBEB;
}
#card3{
    background-color: #F6F6F6;
    color: #BEC4C5; 
    border: none;
    width: 100%;
    height: 50px;
    font-size: large;
}
#card3:hover{
    border: none;
}
#card3continer{
    display: flex;
    background-color: #F9F9F9;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.textcontiner{
    display: flex;
    flex-direction: row;
    
}
.lefttext{
    flex: 1;
    color: #92959C;
    font-size: 15px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-left: 10px;

}
.righttext{
    
    overflow: hidden;
    flex: 2;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 350;
    font-family: 'robot';
}
hr{
    
    border: 1px solid #EDEDED;
    height: 1px;
}
#top{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}
#toptext{
    font-size: 16px;
    font-weight: 350;
    color: #000000;
    
}
#shenpi{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
#right,#left{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#right{
    flex: 2;
    margin-left: 10px;
}
.lefttime{
    display: flex;
    flex-direction: column;
}
.rightshenhe{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-size: 14px;
}
.leftshenpitext{
    color: #92959D;
    margin-bottom: 5px;
    font-size: 15px;
}

.textnormal{
    color: #BDC1C4;
    align-self: flex-end;
    font-size: 13px;
}
.svgconsole{
    height: 25px;
    width: 25px;
}
#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#left{
    align-items: end;
    margin-right: 10px;
}
#lines{
    height: 20px;
    width: 2px;
    background-color: #EFEFEF;
}
#lines2{
    height: 100px;
    width: 1px;
    background-color: #EFEFEF;
}
#bottomconsole{
    margin-top: 10px;
}
#end{
    margin-top: 26px;
    font-size: 15px;
}
#time{
    font-size: 14px;
}